body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

img {
  border: 1px solid #1c1a1a;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.container {
  width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid #1c1a1ad1;
  border-radius: 20px;
  color: white;
  background-color: #1c1a1ad1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #312d2dcf;
  margin: 10px;
  border-radius: 8px;
  padding: 15px;
  font-size: 15px;
}

h3 {
  color: greenyellow;
}
